{# Navbar #}
{% if page.navigation %}
  {% block navbar %}
    {% set navbar_classes = [ 'navbar', 'container'] %}
    <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
      <div class="container">
        <div class="navbar-header">
          {{ page.navigation }}
        </div>
      </div>
    </header>
  {% endblock %}
{% endif %}

{# Main #}
{% block main %}
  <div role="main" class="main-container container js-quickedit-main-content">

    {# Highlighted #}
    {% if page.highlighted %}
      {% block highlighted %}
        <div class="highlighted">{{ page.highlighted }}</div>
      {% endblock %}
    {% endif %}

    <section{{ content_attributes }}>

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
    </section>

  </div>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    <footer class="footer" role="contentinfo">
      <div class="container">
        {{ page.footer }}
      </div>
    </footer>
  {% endblock %}
{% endif %}

{# Help #}
{% if page.help %}
  {% block help %}
    {{ page.help }}
  {% endblock %}
{% endif %}
